@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

*{
    padding:0; margin:0;
    top:0; left:0; right:0;
    box-sizing: border-box;
    border: none;
    font-family: 'Poppins', sans-serif;
}

.index_body{
    background-color: black;
}

.navigation-bar{
    background-color: black;
    display: flex;
    justify-content: space-between;
    height: 50px;
}

.name{
    color: rgb(170, 100, 19);
}

.link{
    text-decoration: none;
    color: rgb(170, 100, 19);
    margin-top: 8px;
}

.link-container{
    margin-top: 11px;
    margin-left: 35%;
}

.search{

    background-color: rgb(170, 100, 19);
    color: black;
    width: 25rem;
    height: 29px;
    margin-top: 9px;
    border-radius: 20px;
}

::-webkit-input-placeholder{
    color: black;
}

.home-container{
    background: url(European-Specialty-Coffee-Market-by-Pointbleu-Design-Blog.jpg);
}